* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(40,40,40,0.80);
}

button {
    border-color: #665c54;
	text-decoration-color: #ebdbb2;
    color: #ebdbb2;
	background-color: rgba(60,56,54,0.70);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 7px;
	margin: 1rem;
}

button:focus, button:active, button:hover {
	background-color: rgba(215,153,33,0.70);
	outline-style: none;
}

#lock {
    background-image: url("/home/phthallo/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/phthallo/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/phthallo/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/phthallo/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/phthallo/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/phthallo/.config/wlogout/icons/reboot.svg");
}
